<div class="row mb-4 col-md-2">
    <a asp-action="Index" asp-controller="Sectors" class="btn btn-success">Atras</a>
</div>

<h2>Informacion del sector</h2>
<table class="table">
     <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Author</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>